{% extends "base.html" %}
{%load static %}


{% block title %}{{post.title}} {% endblock %}
{% block css_link %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %}

{% block content %}

{% if comment_form.errors %}
    <div id = "error-block">
        <h2>Saving the comment failed!</h2>
        <p>Please check the below comment form and fix the errors.</p>
        <a href= "#comment-form">FIX!</a>
    </div>
{% endif %}

<section id = "summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in post_tags %}
            <span class="tag">{{tag}}</span>
        {% endfor %}
    </div>
    <div id = "read-later">
        <form action = "{% url "read-later" %}" method = "POST">
        {% csrf_token %}
        <input type = "hidden"  value = "{{ post.id }}" name = "post_id">
        <button>
            {% if is_saved_for_later %}
                remove Read later
            {% else %}
                Read Later
            {% endif %}

        </button>
        </form>
    </div>
    <article>
        <img src = {{ post.image.url }} alt = "mountain img"/>
        <address><a href="mailto:{{post.author.email}}">{{post.author}}</a></address>
        <div>
            Last update on <time>{{post.date|date:"M d, Y"}}</time>
        </div>
    </article>
</section>



<main>
    
    <p>
        {{post.content|linebreaks}}
    </p>
</main>

<section id = "comments">
    <ul>
        {% for comment in comments %}
            <li>
                <h3>{{ comment.user_name }}</h3>
                <p>{{ comment.text }}</p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <form id = "comment-form" action = "{% url "posts-detailed-page" post.slug %}" method = "POST">
        {% csrf_token %}
        <h2>Your Comment</h2>
        {% for each_filed in comment_form %}
            <div class = "form-control {% if each_filed.errors %}invalid{% endif %}">
                {{ each_filed.label_tag }}
                {{ each_filed }}
                {{ each_filed.errors }}
            </div>
        {% endfor %}
    <button>Save Comment</button>
    </form>
</section>

{% endblock %}